# Node modules
node_modules/

# Environment variables
.env
.env.*        # misalnya .env.development, .env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/
*.sw?

# PM2 process files
pids/
*.pid
*.seed

# Coverage/test output
coverage/
.nyc_output/

# Misc
*.tgz
package-lock.json yarn.lock

# Optional: untuk file lokal dev tools
*.local

uploads/
generated/

.http
g
